{% load static %}
<div class="col-md-12 p-5-style">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title margin-top-style">Latest Tutorials</h2>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-4">
                <div class="card border-0 rounded-0 card-bg mb-4">
                    <video class="video-js" controls preload="auto" poster="images/python.png" data-setup='{}'>
                        <source src="videos/video.mp4" type="video/mp4"></source>
                    </video>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <small class="text-muted"><span class="fw-bold">Level:</span> Beginners</small>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class=""><small>Read More <i class="fas fa-arrow-right fa-xs"></i></small></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 rounded-0 card-bg mb-4">
                    <video class="video-js" controls preload="auto" poster="images/b3.png" data-setup='{}'>
                        <source src="videos/video.mp4" type="video/mp4"></source>
                    </video>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <small class="text-muted"><span class="fw-bold">Level:</span> Beginners</small>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class=""><small>Read More <i class="fas fa-arrow-right fa-xs"></i></small></a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 rounded-0 card-bg mb-4">
                    <video class="video-js" controls preload="auto" poster="images/image.jpeg" data-setup='{}'>
                        <source src="videos/video.mp4" type="video/mp4"></source>
                    </video>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <small class="text-muted"><span class="fw-bold">Level:</span> Beginners</small>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class=""><small>Read More <i class="fas fa-arrow-right fa-xs"></i></small></a>
                    </div>
                  </div>
            </div>
            <div class="col-md-12 text-center mt-4">
                <a class="btn btn-dark" href="#"><i class="fas fa-arrow-circle-right"></i> View All Tutorials</a>
            </div>
        </div>
    </div>
</div>