{% load static %}
<div class="col-md-12 p-5-style">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title margin-top-style">Testimonials</h2>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-12">
                <div id="product-slider" class="owl-carousel">
                    {% for testimonial in testimonials %}
                        <div class="prodcut testimonial-carousel mr-3 card-bg">
                            <i class="fas fa-quote-left text-white position-relative fa-xs m-1"></i>
                            <div class="row p-3">
                                <div class="col-md-12">
                                    <p class="description">
                                        {{testimonial.content}}
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-2">
                                            {% if not testimonial.image %}
                                                <img src="{% static 'front/images/favicon.png' %}" height="40" width="40" class="rounded-circle">
                                            {% else %}
                                                <img src="{{testimonial.image.url}}" height="40" width="40" class="rounded-circle">
                                            {% endif %}
                                        </div>
                                        <div class="col-10 mt-2">
                                            <small class="text-muted text-capitalize">{{testimonial.full_name}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>