{% extends 'dashboard/master.html' %}
{% load static %}

{% block title %}Dashboard | Edit {{getwork.title}}{% endblock %}

{% block content %}
<div class="wrapper">

    <!-- Navbar -->
    {% include "dashboard/includes/top_navbar.html" %}
    <!-- Main Sidebar Container -->
    {% include "dashboard/includes/left_navbar.html" %}
    
  
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Resume / Edit {{getwork.title}}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashbaord</a></li>
                <li class="breadcrumb-item"><a href="{% url 'resumedashboard' %}">Resume</a></li>
                <li class="breadcrumb-item active">Edit {{getwork.title}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
   
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            

            <div class="col-md-12 p-5-style margin-top-style">
                <div class="card border-0 shadow p-5">
                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-12 border-end">
                                <h5 class="section-title-resume margin-top-style">WORK EXPERIENCES</h5>


                                <form method="post" action="{% url 'editworkexp' getwork.pk %}" class="row mt-4 card-text">{% csrf_token %}
                                    <div class="col-md-7 font-weight-bold">
                                        <input name="title" class="form-control form-control-sm" placeholder="Job title*" value="{{getwork.title}}" required>
                                    </div>
                                    <div class="col-md-5">
                                        <small class="text-muted">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input name="company" value="{{getwork.company_name}}" class="form-control form-control-sm" placeholder="Company name*" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input name="duration" value="{{getwork.duration}}" class="form-control form-control-sm" placeholder="Duration*" required>
                                                </div>
                                            </div>
                                        </small>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control mt-1" name="content" rows="5" placeholder="About job*" required>{{getwork.content}}</textarea>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </form>


                            </div>


                        </div>



                    </div>
                </div>
            </div>


          </div>
        </div>
      </div>
      <!-- /.content -->




    </div>



  


    <aside class="control-sidebar control-sidebar-dark">
      <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
      </div>
    </aside>
  
    <!-- Main Footer -->
    {% include "dashboard/includes/footer.html" %}
  </div>
{% endblock %}



{% block image %}
<script>
    var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
{% endblock %}