{% extends 'dashboard/master.html' %}
{% load static %}

{% block title %}Dashboard | Message | {{get_message.email}}{% endblock %}

{% block content %}
<div class="wrapper">

    <!-- Navbar -->
    {% include "dashboard/includes/top_navbar.html" %}
    <!-- Main Sidebar Container -->
    {% include "dashboard/includes/left_navbar.html" %}
    
  
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Messages / {{get_message.email}}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashbaord</a></li>
                <li class="breadcrumb-item"><a href="{% url 'messagesdashboard' %}">Messages</a></li>
                <li class="breadcrumb-item active">{{get_message.email}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
   
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
             

                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">{{get_message.full_name}}</h3><br/>
                      <small class="text-muted">{{get_message.email}}</small><br/>
                      <small class="text-muted">{{get_message.date}}</small>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {{get_message.content|linebreaks|urlize}}
                    </div>
                    <!-- /.card-body -->
                  </div>


              <!-- /.card -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.content -->




    </div>



  


    <aside class="control-sidebar control-sidebar-dark">
      <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
      </div>
    </aside>
  
    <!-- Main Footer -->
    {% include "dashboard/includes/footer.html" %}
  </div>
{% endblock %}



{% block image %}
<script>
    var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
{% endblock %}